{% extends 'base.html.twig' %}

{% block title %}Сравнение на продукти{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Сравнение на продукти</h1>

        <div class="alert alert-info text-center">
            Все още няма добавени продукти за сравнение.
        </div>

    </div>
{% endblock %}
