###> symfony/framework-bundle ###
.env.local
.env.*.local
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache
/tests/bootstrap.php
###< phpunit/phpunit ###

###> General ###
.idea/
.vscode/
.DS_Store
node_modules/
npm-debug.log
yarn-error.log
/public/build/
vendor/
var/cache/
var/log/
###< General ###
